<div style="text-align: center;"><h1>EMPLEADO</h1></div>
  <form (ngSubmit)="onSubmit()" #form="ngForm" >
      <div class="row">
        <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="Nombre" name='nombre' [(ngModel)]="empleadoform.nombre">
        </div>
        <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="Codigo" name='codigo' [(ngModel)]="empleadoform.codigo">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
            <input class="form-control" type="number" placeholder="Salario" name='salario' [(ngModel)]="empleadoform.salario">
        </div>
        <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="Creado por" name='creado_por' [(ngModel)]="empleadoform.creado_por">
        </div>
      </div>

      <br>
    <div class="form-group">
      <div class="row">
        <ng-container *ngIf="!editar; else elseTemplate">
         <div class="col-sm-12">
          <button class="btn btn-primary btn-block" type="submit">{{tipo}}</button>
         </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="col-sm-6">
            <button class="btn btn-primary btn-block" type="submit">{{tipo}}</button>
           </div>
           <div class="col-sm-6">
            <button class="btn btn-primary btn-block" (click)="OnCancelar()">Cancelar</button>
           </div>
        </ng-template>
      </div>
    </div>
    <div style="text-align: center;"><h1>{{message}}</h1></div>

  </form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Codigo</th>
      <th scope="col">Salario</th>
      <th scope="col">Creado Por</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empleados">
      <th  scope="row">{{emp.id}}</th>
      <td >{{emp.nombre}}</td>
      <td >{{emp.codigo}}</td>
      <td >{{emp.salario}}</td>
      <td >{{emp.creado_por}}</td>
      <td ><button class="btn btn-warning btn-block" (click)="OnCapturarEditar(emp)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
      <td ><button class="btn btn-danger btn-block" (click)="Oneliminar(emp.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
    </tr>
  </tbody>
</table>
